<div class="table-banner">
  <h2>Sample Reviews for Demo</h2>
</div>



<div class="radio">
  <form id="filterForm">
    <label>
        <input type="radio" name="filter" (change)="applyFilter('all')" checked>
        All
    </label>
    <label>
        <input type="radio" name="filter" (change)="applyFilter('True Positive')" value="option1" >
        True Positive
    </label>
    <label>
        <input type="radio" name="filter" (change)="applyFilter('True Negative')" value="option2">
        True Negative
    </label>
    <label>
        <input type="radio" name="filter" (change)="applyFilter('False Positive')" value="option3">
        Flase Positive
    </label>
    <label>
        <input type="radio" name="filter" (change)="applyFilter('False Negative')" value="option4">
        False Negative
    </label>
    <!-- Add more radio buttons as needed -->
  </form>

</div>

<table>
  <thead>
    <tr>

      <th>Target Labels</th>
      <th></th>
      <th>Reviews</th>
      <!-- Add more headers as needed -->
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let result of filteredData">
      <td>{{ result.Target }}</td>
      <td><button (click)="copyToClipboard(result.Review, result.Target)">Copy</button></td>
      <td>{{ result.Review }}</td>
      <!-- Display other properties accordingly -->
    </tr>
  </tbody>
</table>
<!-- component-b.component.html -->


