<div class="table-container">


<table>
  <tr>
    <td ><h2>Input review for fake detection</h2></td>
    <td><h2>Prediction</h2></td>
    <td><h2>Prediction Accuracy</h2></td>
  </tr>
  <tr>
    <td><div>

      <!-- Input box -->
      <textarea rows="4" cols="50" [formControl]="inputControl"  [(ngModel)]="inputText" placeholder="Enter Review"  aria-describedby="basic-addon2"></textarea>

      <!-- <input value="" type="text"  style="height: 40px; width:380px; word-wrap: normal;" class="form-control" [formControl]="inputControl"  [(ngModel)]="inputText" placeholder="Enter Review"  aria-describedby="basic-addon2"  > -->


      <!-- Button to trigger an action -->
      <br>
      <button (click)="processInput()">Process</button>
    </div></td>
    <td >

      <div *ngIf="loading" class="loading-icon">
        <!-- Loading icon, e.g., spinner or progress bar -->
        <i class="fas fa-spinner fa-spin"></i> Loading...
      </div>
      <!-- Output text panel -->

      <p style="font-size: 18px;">{{ outputText }}</p>

    </td>
    <td>
      <img *ngIf="outputText" [src]=img class="custom-image">
    </td>
  </tr>
</table>
</div>
